body {
    font-family: 'Roboto Slab', serif;
}

header {
    background-color: antiquewhite;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

/* h1 {
    font-family: 'Lobster', cursive;
} */