body {
    font-family: 'Roboto Slab', serif;
}

header {
    background-color: antiquewhite;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

h4 {
    font-family: 'Lobster', cursive;
}

.title {
    font-size: 60px;
}

.bg-color {
    background-color: rgb(219, 211, 211);
}


@media only screen and (max-width: 768px) and (min-width: 350px) {
    .small-device {
        display: flex;
        flex-direction: column-reverse;
    }

    .card {
        text-align: center;
    }

    /* .last-image {
        margin-top: 0;
        padding: 0;
    } */
}